## Load library yang perlu dan import data train

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [33]:
scotty = pd.read_csv("data/data-train.csv")
scotty.head()

,id,trip_id,driver_id,rider_id,start_time,src_lat,src_lon,src_area,src_sub_area,dest_lat,dest_lon,dest_area,dest_sub_area,distance,status,confirmed_time_sec
0,59d005e1ffcfa261708ce9cd,59d005e9cb564761a8fe5d3e,59a892c5568be44b2734f276,59ad2d6efba75a581666b506,2017-10-01T00:00:17Z,41.070468,29.019451,sxk9,sxk9s,41.117158,29.036495,sxk9,sxk9u,5.379250,confirmed,8
1,59d0066affcfa261708ceb11,NaN,NaN,59cd704bcf482f6ce2fadfdb,2017-10-01T00:02:34Z,41.074868,28.995276,sxk9,sxk9e,41.083514,29.002277,sxk9,sxk9e,1.126098,nodrivers,0
2,59d006a1ffcfa261708ceba4,59d006c131e39c618969343d,599dc0dfa5b4fd5471ad8453,59bd62cc7e3c3b663924ba86,2017-10-01T00:03:29Z,41.049952,29.031073,sxk9,sxk9s,41.044952,28.981922,sxk9,sxk9e,4.169492,confirmed,32
3,59d006d8cb564761a8fe5efd,59d007193d32b861760d4a77,59a5856573d56e7103b5d51d,59c17cd1f6da2d274e16d0a7,2017-10-01T00:04:24Z,41.052873,28.995218,sxk9,sxk9e,41.081403,28.981973,sxk9,sxk9e,3.358296,confirmed,65
4,59d0073ecb564761a8fe5fdc,NaN,NaN,596f47a8a294a82ea3e90e77,2017-10-01T00:06:06Z,41.067595,28.988273,sxk9,sxk9e,41.021249,29.113156,sxk9,sxk9q,11.693573,nodrivers,0

In [34]:
scotty = scotty[['start_time','src_sub_area']]
scotty.head()

             start_time src_sub_area
0  2017-10-01T00:00:17Z        sxk9s
1  2017-10-01T00:02:34Z        sxk9e
2  2017-10-01T00:03:29Z        sxk9s
3  2017-10-01T00:04:24Z        sxk9e
4  2017-10-01T00:06:06Z        sxk9e

In [16]:
scotty.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90113 entries, 0 to 90112
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   start_time    90113 non-null  object
 1   src_sub_area  90113 non-null  object
dtypes: object(2)
memory usage: 1.4+ MB

In [35]:
scotty.start_time = scotty.start_time.astype('datetime64[ns]')
scotty.columns = ['datetime','src_sub_area']
scotty.head()
scotty.tail()

                 datetime src_sub_area
90108 2017-12-02 23:57:45        sxk9s
90109 2017-12-02 23:58:52        sxk97
90110 2017-12-02 23:58:55        sxk9e
90111 2017-12-02 23:58:59        sxk9s
90112 2017-12-02 23:59:20        sxk9e

In [48]:
scotty['datetime'] = scotty['datetime'].apply(lambda x: x.replace(minute=0, second=0))
print(scotty.head())
print(scotty.tail())

    datetime src_sub_area
0 2017-10-01        sxk9s
1 2017-10-01        sxk9e
2 2017-10-01        sxk9s
3 2017-10-01        sxk9e
4 2017-10-01        sxk9e
                 datetime src_sub_area
90108 2017-12-02 23:00:00        sxk9s
90109 2017-12-02 23:00:00        sxk97
90110 2017-12-02 23:00:00        sxk9e
90111 2017-12-02 23:00:00        sxk9s
90112 2017-12-02 23:00:00        sxk9e

In [123]:
a = scotty.groupby(['src_sub_area','datetime'])['datetime'].count()
#scotty.head(20)
a

src_sub_area  datetime
sxk97         2017-10-01 00:00:00     6
              2017-10-01 01:00:00     4
              2017-10-01 02:00:00     9
              2017-10-01 03:00:00     2
              2017-10-01 04:00:00     5
                                     ..
sxk9s         2017-12-02 19:00:00    54
              2017-12-02 20:00:00    30
              2017-12-02 21:00:00    38
              2017-12-02 22:00:00    29
              2017-12-02 23:00:00    41
Name: datetime, Length: 4225, dtype: int64

In [122]:
scotty.shape

(90113, 2)

In [87]:
scotty.src_sub_area.groupby(scotty['datetime']).transform('count')

0         24
1         24
2         24
3         24
4         24
        ...
90108    124
90109    124
90110    124
90111    124
90112    124
Name: src_sub_area, Length: 90113, dtype: int64

In [68]:
scotty.datetime[]

0    2017-10-01 00:00:00
1    2017-10-01 00:00:00
2    2017-10-01 00:00:00
3    2017-10-01 00:00:00
4    2017-10-01 00:00:00
5    2017-10-01 00:00:00
6    2017-10-01 00:00:00
7    2017-10-01 00:00:00
8    2017-10-01 00:00:00
9    2017-10-01 00:00:00
10   2017-10-01 00:00:00
11   2017-10-01 00:00:00
12   2017-10-01 00:00:00
13   2017-10-01 00:00:00
14   2017-10-01 00:00:00
15   2017-10-01 00:00:00
16   2017-10-01 00:00:00
17   2017-10-01 00:00:00
18   2017-10-01 00:00:00
19   2017-10-01 00:00:00
20   2017-10-01 00:00:00
21   2017-10-01 00:00:00
22   2017-10-01 00:00:00
23   2017-10-01 00:00:00
24   2017-10-01 01:00:00
25   2017-10-01 01:00:00
26   2017-10-01 01:00:00
27   2017-10-01 01:00:00
28   2017-10-01 01:00:00
29   2017-10-01 01:00:00
30   2017-10-01 01:00:00
31   2017-10-01 01:00:00
Name: datetime, dtype: datetime64[ns]

In [70]:
scotty.groupby(['src_sub_area','datetime']).count().head(30)

Empty DataFrame
Columns: []
Index: [(sxk97, 2017-10-01 00:00:00), (sxk97, 2017-10-01 01:00:00), (sxk97, 2017-10-01 02:00:00), (sxk97, 2017-10-01 03:00:00), (sxk97, 2017-10-01 04:00:00), (sxk97, 2017-10-01 05:00:00), (sxk97, 2017-10-01 06:00:00), (sxk97, 2017-10-01 08:00:00), (sxk97, 2017-10-01 09:00:00), (sxk97, 2017-10-01 10:00:00), (sxk97, 2017-10-01 11:00:00), (sxk97, 2017-10-01 12:00:00), (sxk97, 2017-10-01 13:00:00), (sxk97, 2017-10-01 14:00:00), (sxk97, 2017-10-01 15:00:00), (sxk97, 2017-10-01 16:00:00), (sxk97, 2017-10-01 17:00:00), (sxk97, 2017-10-01 18:00:00), (sxk97, 2017-10-01 19:00:00), (sxk97, 2017-10-01 20:00:00), (sxk97, 2017-10-01 21:00:00), (sxk97, 2017-10-01 22:00:00), (sxk97, 2017-10-01 23:00:00), (sxk97, 2017-10-02 00:00:00), (sxk97, 2017-10-02 01:00:00), (sxk97, 2017-10-02 02:00:00), (sxk97, 2017-10-02 06:00:00), (sxk97, 2017-10-02 07:00:00), (sxk97, 2017-10-02 08:00:00), (sxk97, 2017-10-02 09:00:00)]

In [ ]:
- Lakukan `group_by` pada `src_sub_area` dan `datetime` untuk mendapatkan jumlah data pada tiap `src_sub_area`, dan beri nama kolom jumlah data tersebut dengan `demand`

```{r}
scotty <- scotty %>% 
  group_by(src_sub_area, datetime) %>% 
  summarise(demand = n())
```

- Lakukan time series padding agar data datetime terdaftar secara berurutan. Fungsi yang digunakan adalah `pad` dari library `padr

```{r}
min_date <- min(scotty$datetime) # tentukan datetime paling awal
max_date <- max(scotty$datetime) # tentukan datetime paling akhir

start_val <- make_datetime(year = year(min_date), month = month(min_date), day = day(min_date), hour = hour(min_date)) # buat dummy datetime berdasarkan min_date
end_val <- make_datetime(year = year(max_date), month = month(max_date), day = day(max_date), hour = hour(max_date)) # buat dummy datetime berdasarkan max_date

scotty_pad <- padr::pad(x = scotty, start_val = start_val, end_val = end_val)
```

- Setelah di-padding, akan didapatkan banyak data jam yang kosong pada kolom `demand` sehingga otomatis akan diisi dengan missing values. Ganti NA dengan nilai 0 karena walaupun NA, kita masih membutuhkan data tersebut, dan NA tersebut pada dasarnya mewakili ketiadaan order, alias 0 order.

```{r}
scotty_pad$demand <- replace_na(scotty_pad$demand, 0)
```

- Ubah dataframe menjadi objek timeseries dengan fungsi `ts` dan frequency di-set dengan nilai 24 karena kita ingin melihat seasonal harian dari data per jam.

```{r}
scotty_ts <- ts(scotty_pad$demand, frequency = 24)
head(scotty_ts)
```